\documentclass[a4paper,<%= config.font_size %>pt]{extarticle}
\usepackage[utf8x]{inputenc}
\usepackage[brazil]{babel}

%% TODO: take geometry arguments from configuration
\usepackage[top=4cm, bottom=3cm, left=2cm, right=2cm, head=3cm, headsep=1.5cm]{geometry}
\usepackage{parskip}
\setlength{\parindent}{0pt}

%% used by pandoc tables
\usepackage[]{ctable}
\usepackage[]{supertabular}

%% force all figures and tables to *not* float
\usepackage{floatrow}
\floatplacement{figure}{!ht}
\floatplacement{table}{!ht}

%% multiple columns support
\usepackage{multicol}
\setlength{\columnsep}{1.5cm}

%% reference to last page number
\usepackage{lastpage}

%% headers and footers
\usepackage{fancyhdr}
\pagestyle{fancy}
<% if config.header.present? %>
\lhead{
  \begin{minipage}{0.55\textwidth}
  <%= remove_paragraph_breaks(html_to_latex(config.header)) %>
  \end{minipage}
}
<% else %>
\lhead{}
<% end %>
\chead{}
\rhead{
  \begin{minipage}{0.4\textwidth}
  \raggedleft
  \bfseries
  \scriptsize
  \sffamily
  %% TODO: take header text color as argument
  \color{white}
  Ano <%= official_diary.year %>, Edição <%= official_diary.number %>
  \\
  \vspace{1em}
  <%= weekday %>,
  \\
  <%= date %>
  \\
  \vspace{1em}
  Página \thepage\ de \pageref{LastPage}
  \end{minipage}
}
\lfoot{\scriptsize <%= remove_paragraph_breaks(html_to_latex(config.footer)) %>}
\cfoot{}
\rfoot{}
\renewcommand{\headrulewidth}{0pt}
\renewcommand{\footrulewidth}{0pt}


%% a line below section headings
\usepackage{titlesec}
\usepackage{xcolor}
\titleformat{\section}
  {\normalfont\Huge\bfseries\sffamily\scshape}{}{1em}{\sectionpage}
  \newcommand{\sectionpage}[1]{\centering{#1}}
\titleformat{\subsection}
  {\normalfont\large\bfseries\sffamily\scshape}{}{1em}{\colorsubsection}
\newcommand{\colorsubsection}[1]{%
  \colorbox[HTML]{BABDB6}{\parbox{\columnwidth}{#1}}}

%% include PDFs
\usepackage{pdfpages}

%% wallpaper
\usepackage{wallpaper}

\usepackage{seqsplit}

\begin{document}

<%
if config.cover.present?
%>
\ThisCenterWallPaper{1}{cover.jpg}
\thispagestyle{empty}
~
\newpage
<%
end
%>

<%
if config.wallpaper.present?
%>
\CenterWallPaper{1}{wallpaper.jpg}
<%
end
%>

<% if config.preamble.present? %>
\thispagestyle{empty}
<%= html_to_latex(config.preamble) %>
\newpage
<% end %>

\tableofcontents
\newpage


<% books = official_diary.subjects.group_by(&:book) %>
<% books.keys.sort_by(&:created_at).sort_by(&:position).each do |book| %>
\vspace*{0.3\textheight}
\section*{<%= book.name %>}
\addcontentsline{toc}{section}{<%= book.name %>}
\newpage

<% if config.number_of_columns > 1 %>
\begin{multicols*}{<%= config.number_of_columns%>}
<% end %>

<% subjects = books[book].sort_by(&:created_at).sort_by(&:position) %>
<% subjects.each do |subject| %>
<% if subject.contents.blank? %>
\pagebreak
\addcontentsline{toc}{subsection}{<%= subject.title %>}
<% subject.extra_files.sort_by(&:id).each do |f| %>
  \includepdf[pages=-,scale=0.75,pagecommand={\pagestyle{fancy}},picturecommand*={\label{extra:<%= f.label %>}}]{<%= f.export_filename %>}
<% end %>
<% else %>
\subsection*{<%= subject.title %>}
\addcontentsline{toc}{subsection}{<%= subject.title %>}
<%= html_to_latex(subject.contents) %>
<% if subject.extra_files.size > 0 %>
  \textbf{Anexos:}
  \begin{itemize}
  <% subject.extra_files.sort_by(&:id).each do |f| %>
    \item <%= f.title %>, página \pageref{extra:<%= f.label %>}.
  <% end %>
  \end{itemize}
  <% subject.extra_files.sort_by(&:id).each do |f| %>
    \includepdf[pages=-,scale=0.75,pagecommand={\pagestyle{fancy}},picturecommand*={\label{extra:<%= f.label %>}}]{<%= f.export_filename %>}
  <% end %>
<% end %>
<% end %>
<% end %>

<% if config.number_of_columns > 1 %>
\end{multicols*}
<% end %>

<% end %>

\end{document}
