<% unless params[:publish] %>
<li id="<%= attribute_id %>">
  <%= form.label attribute, _('Gerar PDF') %>
  <%= form.hidden_field attribute, value: true %>
  <table style='border: 1px solid #babdb6;'>
    <tr>
      <th><%= _('Gerar um novo arquivo') %></th>
      <th><%= _('Arquivo existente') %></th>
    </tr>
    <tr>
      <td>
        <p><%= _('Ao clicar em "Salvar", será gerado o diário oficial com os seguintes assuntos:') %></p>
        <ul class='text'>
        <% if @item.official_diary.present? %>
          <% books = @item.official_diary.subjects.group_by(&:book) %>
          <% books.keys.sort_by(&:created_at).sort_by(&:position).each do |book| %>
            <% subjects = books[book].sort_by(&:created_at).sort_by(&:position) %>
            <li>
              <%= book.name %>
              <ul>
                <% subjects.each do |subject| %>
                  <li><%= subject.title %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>
      </td>
      <td>
        <% if @item.data.present? && @item.official_diary.present? %>
          <%= link_to _('Download'), download_path(@item.official_diary) %>
        <% else %>
          <em><%= _('(Nenhum)') %></em>
        <% end %>
      </td>
    </tr>
  </table>
</li>
<% end %>
