<% content_for :javascripts do %>
  <script type="text/javascript">
    var CKEDITOR_BASEPATH = '/ckeditor/';
  </script>

  <%= javascript_include_tag '/ckeditor/ckeditor' %>
  <%= javascript_include_tag '/ckeditor/adapters/jquery' %>

  <script type="text/javascript">
    $(document).ready(function() {
      $(".rich_text").ckeditor();
      $('#tabs').tabs();
    });
  </script>
<% end %>

<%
  custom = { :rows => @resource.typus_options_for(:form_rows), :class => "rich_text" }
  options = options.merge!(custom)
%>

<% if @item.respond_to?(:add_files=) && @item.respond_to?(:extra_files) %>
  <div id="tabs">
    <ul>
    <li><a href="#tabs-1"><%= _('Conteúdo') %></a></li>
    <li><a href="#tabs-2"><%= _('Anexos') %></a></li>
    </ul>
    <div id="tabs-1">
      <%= form.text_area attribute, options %>
    </div>
    <div id="tabs-2">
      <table>
        <tr>
          <th><%= _('Título') %></th>
          <th><%= _('Arquivo') %></th>
          <th><%= _('Ações') %></th>
        </tr>
      <% @item.extra_files.order(:id).each do |extra_file| %>
        <tr>
          <td><%= extra_file.title %></td>
          <td><%= link_to extra_file.filename %></td>
          <td><%= link_to _('Remover'), '#', onclick: 'javascript:alert("Not yet"); return false' %></td>
        </tr>
      <% end %>
        <tr>
          <td colspan='3'>
            <button id='add-extra-file'>Adicionar anexo</button>
          </td>
        </tr>
      </table>

      <div id='template-title-tag' style='display: none'>
        <%= text_field_tag 'subject[add_files][][title]', '', placeholder: _("Título"), size: 30 %>
      </div>
      <div id='template-file-tag' style='display: none'>
        <%= file_field_tag 'subject[add_files][][upload]' %>
      </div>

    </div>
  </div>
<% else %>
  <li id="<%= attribute_id %>">
    <%= form.label attribute, label_text %>
    <%= form.text_area attribute, options %>
  </li>
<% end %>
