<li id="<%= attribute_id %>">
  <%= form.label attribute, label_text %>
  <table style='border: 1px solid #babdb6;'>
    <tr>
      <th>
        <%= _('Enviar um novo arquivo') %>
      </th>
      <th><%= _('Arquivo existente') %></th>
    </tr>
    <tr>
      <td>
        <ul>
          <li><%= _('Formato: JPG') %></li>
          <li><%= _('Dimensões: A4 (ex.: 2480x3508 ou 1240x1754 pixels)') %></li>
          <li><%= _('') %></li>
        </ul>
        <%= form.file_field attribute %>
      </td>
      <td>
        <%
          data_attr = attribute.to_s.sub(/_file$/, '')
          binary_data = @item.send(data_attr)
        %>
        <% if binary_data.present? %>
          <%= link_to _('Imagem JPG (%s)') % number_to_human_size(binary_data.size), action: data_attr, id: @item  %>
        <% else %>
          <em><%= _('(Nenhum)') %></em>
        <% end %>
      </td>
    </tr>
  </table>
</li>
