<%= form_tag sessions_path, :role => 'form', class: 'form-signin' do %>
  <% if flash.alert %>
    <div class='alert alert-danger'><%= flash.alert %></div>
  <% end %>
  <h2 class='form-signin-heading'><%= _('Administração') %></h2>
  <div class="form-group">
    <%= text_field_tag :username, params[:username], class: 'form-control', placeholder: _("Nome de usuário") %>
    <%= password_field_tag :password, nil, class: 'form-control', placeholder: _('Senha') %>
  </div>
  <button type="submit" class="btn btn-lg btn-primary btn-block"><%= _('Entrar') %></button>
<% end %>
</div>
