Ano <%= @official_diary.year %>, edição <%= @official_diary.number %>, de <%= l(@official_diary.date) %>

Conteúdo
========

<% books = @official_diary.subjects.group_by(&:book) %>
<% books.keys.sort_by(&:created_at).sort_by(&:position).each do |book| %>
<%= book.name %>
<%= '-' * book.name.size %>
<% subjects = books[book] %>
<% subjects.sort_by(&:created_at).sort_by(&:position).each do |subject| %>
  - <%= subject.title %>
<% end %>

<% end %>

Download
========

http://<%= @hostname %><%= download_path(@official_diary) %>
