/*
 *= require jquery-ui
 */

.chzn-container {
  width: 250px;
}

#subject_book_id_li, #subject_department_id_li, #subjects_position {
  float: left;
  margin-right: 2em;
}

#subjects_position input {
  width: 50px;
}

#subjects_title {
  clear: both;
}

ul.text li {
  list-style: circle !important;
  margin-left: 2em !important;
  line-height: 1em !important;
}

#tabs { border: none; }
#tabs ul { border-top: none; border-left: none; border-right: none; border-bottom-radius: 0px; background: none; }
#tabs li a { font-weight: bold; }
#tabs .ui-widget-content { padding: 5px 0px; }
#tabs .ui-corner-all { border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }

#content .actions {
  margin-top: 0px;
  margin-bottom: 1em;
}
#content tr:hover { background: #eeeee5; }

textarea#official_diary_configuration_certificate {
  font-family: "Monospace";
}

span.published {
  background: green;
  color: white;
  font-weight: bold;
  padding: 2px;
  font-size: smaller;
}

.published-warning {
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 0.5em;
  border: 2px solid red;
  background: #ffeeee;
  color: red;
}

#content pre {
  font-size: inherit;
}
