<% content_for :title, _("Inscrição para recebimento por email") %>
<div class='col-md-4 col-md-offset-4'>

  <% if flash.notice %>
    <p class='alert alert-success'><%= flash.notice %></p>
  <% end %>
  <% if @subscription.errors.any? %>
    <div class='alert alert-danger'>
    <ul>
      <% @subscription.errors.full_messages.each do |e| %>
        <li><%= e %></li>
    <% end %>
    </ul>
    </div>
  <% end %>

  <p class='alert alert-info'>
    <%= _('Preencha o formulário abaixo para receber um aviso por email sempre que uma nova edição do diário oficial for publicada.') %>
  </p>
  <%= form_for @subscription, class: 'form' do |f| %>
    <div class='form-group'>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>
  <%= submit_tag _('Me inscrever'), class: 'btn btn-primary' %>
<% end %>
</div>
