<% content_for :title, _("Gerenciar inscrição") %>

<div class='row'>
  <div class='col-md-6'>
    <p class='alert alert-success'>
    <%= (_('Confirmar inscrição com o email <strong>%s</strong>?') % @subscription.email).html_safe %>
    </p>
    <%= form_tag({ id: @subscription.token }, method: :put, class: 'form') do %>
      <%= submit_tag _('Confirmar minha inscrição'), class: 'btn btn-success' %>
    <% end %>
  </div>
  <div class='col-md-6'>
    <p class='alert alert-warning'>
    <%= (_('Tem certeza que deseja cancelar a inscrição para o email <strong>%s</strong>?') % @subscription.email).html_safe %>
    </p>
    <%= form_tag({ id: @subscription.token }, method: :delete, class: 'form') do %>
      <%= submit_tag _('Cancelar minha inscrição'), class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>

