<table class='table table-condensed table-bordered'>
  <tr>
    <th><%= _('Edição') %></th>
    <th><%= _('Data') %></th>
    <th><%= _('Cadernos') %></th>
    <td class='hidden-xs'>
      <div>
      <%= _('Baixar') %>
      <%= render partial: 'shared/pdf_format' %>
    </div>
    </td>
  </tr>
  <% @official_diaries.each do |official_diary| %>
    <tr>
    <td><%= _('Edição %d, ano %d') % [official_diary.number, official_diary.year] %> </td>
    <td>
      <%= l official_diary.date %>

      <div class='visible-xs'>
        <%= link_to content_tag('strong', _("Download")), download_path(official_diary), class: 'btn btn-success btn-sm' %>
      </div>
    </td>
    <td>
      <ul>
        <% official_diary.subjects.group_by(&:book).each do |book,subjects| %>
          <li class='toc'>
          <%= link_to book.name, '#', 'data-toggle' => 'modal', 'data-target' => '#modal-%d-%d' % [official_diary.id, book.id] %>

          </button>
          <!-- Modal -->
          <div class="modal fade" id="modal-<%= official_diary.id %>-<%= book.id%>" tabindex="-1" role="dialog" aria-labelledby="modal-label-<%= official_diary.id %>-<%= book.id %>" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="modal-label-<%= official_diary.id %>-<%= book.id %>"><%= book.name %></h4>
                </div>
                <div class="modal-body">
                  <h5><%= ["Edição #{official_diary.number}, #{l official_diary.date, :format => :long}"].join(' — ') %></h5>
                  <%= subject_list(subjects) %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal"><%= _('Fechar') %></button>
                </div>
              </div>
            </div>
          </div>



          </li>
      <% end %>
      </ul>
    </td>
    <td class='hidden-xs'>
      <%= link_to content_tag('strong', _("Download do diário oficial")), download_path(official_diary), class: 'btn btn-success btn-sm', :target => '_blank' %>
    </td>
  </tr>
<% end %>
</table>

