<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <h1><%= _('Confirme a sua inscrição') %></h1>

    <p>
    <%= _('Para confirmar a sua inscrição no Diário oficial, acesso o seguinte endereço:') %>
    <ul>
      <li><%= link_to @link, @link %></li>
    </ul>
    </p>

  </body>
</html>

