#wrap {
  background: white url(background.png) repeat-x right 50px;
}

.wrap-with-banner {
  background: white url(background.png) repeat-x right 250px !important;
}

.banner {
  height: 200px;
  background: url(vc.jpg);
}

.navbar-brand {
  color: #034081 !important;
  font-weight: bold;
  width: 360px;
  background: transparent url(logo.png) no-repeat;
  padding-left: 250px;
  padding-top: 55px;
  height: 75px;
  font-size: 12px;
  font-weight: bold;
}

h1 {
  color: rgb(0, 64, 16);
}
